@{
    ViewBag.Title = "Home Page";
}

<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="row">
    <div class="col-xl-6 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10">
                        <h6>Cantidad de Clientes</h6>
                        <h6 id="totalcliente">0</h6>
                    </div>
                    <div class="col-sm-2">
                        <i class="fa fa-user fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10">
                        <h6>Cantidad de Ventas</h6>
                        <h6 id="totalventa">0</h6>
                    </div>
                    <div class="col-sm-2">
                        <i class="fa fa-shopping-bag fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10">
                        <h6>Cantidad de Productos</h6>
                        <h6 id="totalproducto">0</h6>
                    </div>
                    <div class="col-sm-2">
                        <i class="fa fa-boxes fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>