<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CadenaConexion" connectionString="Data Source=25.70.216.105;Initial Catalog=Consolidados;User ID=sa;Password=Ss@20601836271" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>