@model Consolidados.Common.Entities.Container

<div class="form-group">
    <label asp-for="ContainerName" class="control-label"></label>
    <input asp-for="ContainerName" class="form-control" />
    <span asp-validation-for="ContainerName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Payload" class="control-label"></label>
    <input asp-for="Payload" class="form-control" />
    <span asp-validation-for="Payload" class="text-danger"></span>
</div>