@model Consolidados.Common.Entities.Container

@{
    ViewData["Title"] = "EditContainer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditContainer</h1>

<h4>Container</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditContainer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="IdContract"/>
            
            <partial name="_Container"/>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.IdContract" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}